<pre>
        {{fromPage | json}}
</pre>
<h2>Edit Question</h2>
<form [formGroup]="this.form" class="normal-form">
    <!-- <input type="hidden" formControlName="$key"> -->
    <mat-form-field style="width: 60%">
        <input formControlName="title" [(ngModel)]="title" matInput placeholder="Question Title"
            value="{{fromPage.title}}">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 90%;">
        <textarea formControlName="body" [(ngModel)]="body" matInput placeholder="Question Body"
            value="{{fromPage.body}}"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
    <br>

</form>