<div *ngIf="auth.user$ | async as user">
    <!-- <form [formGroup]="this.form" class="normal-form" style="width: 100%">
        <mat-form-field style="width: 50%">
            <input formControlName="displayName" [(ngModel)]="displayName" matInput placeholder="Username"
                value="{{user.displayName}}">
        </mat-form-field>
        <br>
        <mat-form-field style="width: 50%">
            <input formControlName="firstName" [(ngModel)]="firstName" matInput placeholder="First Name">
        </mat-form-field>
        <br>
        <mat-form-field style="width: 50%">
            <input formControlName="title" [(ngModel)]="title" matInput placeholder="Question Title">
        </mat-form-field>
        <br>
        <mat-form-field style="width: 50%">
            <input formControlName="title" [(ngModel)]="title" matInput placeholder="Question Title">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" (click)="postAnswer(question)"
            style="margin: 0; width: 20%;">Post</button>
    </form> -->
</div>